#################################################################################################################
     ___      .___  ___.      ___      ________    ______   .__   __.     _______  __  ___      _______.
    /   \     |   \/   |     /   \    |       /   /  __  \  |  \ |  |    |   ____||  |/  /     /       |
   /  ^  \    |  \  /  |    /  ^  \   `---/  /   |  |  |  | |   \|  |    |  |__   |  '  /     |   (----`
  /  /_\  \   |  |\/|  |   /  /_\  \     /  /    |  |  |  | |  . `  |    |   __|  |    <       \   \    
 /  _____  \  |  |  |  |  /  _____  \   /  /----.|  `--'  | |  |\   |    |  |____ |  .  \  .----)   |   
/__/     \__\ |__|  |__| /__/     \__\ /________| \______/  |__| \__|    |_______||__|\__\ |_______/    
                                                                                                        
#################################################################################################################

Kubernetes Version: {{ k8s_version }}
Kubernetes Build Date: {{ k8s_build_date }}
Kubernetes CNI Plugin Version: {{ cni_plugin_version }}
Hardening: {{ hardening | upper }}
AMI Build Date: {{ ansible_date_time.iso8601 }}

For more information and documentation visit https://github.com/aws-samples/amazon-eks-custom-amis

#################################################################################################################

